
 .box1{font-weight: bold;
        height: 120px;
        width: 280px;
        padding-bottom:6px;
        font-size:x-large;
        font-weight: bold;
        text-align: center;
        margin-left: 500px;
    }
.box10{ 
        color: rgb(167, 12, 12);
        border-radius: 4px;
        box-shadow:3px 3px rgb(75, 13, 75);
        border: 3px solid red;
        background-color: aliceblue;
        text-shadow: 1px 1px black;
        
        }
.box2{
    
    height: 700px;
    width: 100%;
border: 5px solid green;

}
.box20{
display:grid;
grid-template-columns:30% 30%;
height: 250px;
width: 180px;
row-gap:100px;
column-gap:800px;
margin-top: 10px;
margin-left: 50px;
font-size: x-large;
        }
.box4{
    display: inline;
    
}       

.box3{
    height: 600px;
    width: 65rem;
    border: 5px solid rgb(77, 21, 77);
    background-color: green;
    text-align: center;
    margin-top: 20px;
    margin-left: 150px;
    
}
.item-container{
    display: grid;
    grid-template-columns: 48%  48%;
    font-size:x-large;
    gap: 10px;
    margin-left: 25px;
}
.item1{
background-color: yellow;

}
.item2{
    border-right-color: yellow;
    
}
.item3{
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 3;
   
}
.fixed-box{
        display: flex;
        height: 100px;
        width: 400px;
        margin: auto;
        color: rgb(167, 12, 12);
        border-radius: 4px;
        box-shadow:3px 3px rgb(75, 13, 75);
        border: 3px solid red;
        background-color:rgb(17, 226, 17);
        position: fixed;
        left:35vw;
        bottom: 100px;
        font-size:medium;
        gap: 20px;
}